* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.block-container {
    margin: 25px 0;
    padding: 12px 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    
}